@import url('https://fonts.googleapis.com/css2?family=poppins:widthl@100;200;300;400;500;600;700;800;900&display=');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {

	overflow-x: hidden;
}


body {
	font-family: 'poppins', sans-serif;
	overflow-x: hidden;
}
/*globol tag*/
h1{
	font-size: 2.5rem;
	font-weight: 700;
	color: reg(35,35,85);

}
span{
	font-size: 0.9rem;
	color: #757373;

}
h6 {
	font-size: 1.1rem;
	color: rgb(24,24,49);
}
/* Navigation*/
#header .ul .li{
	display: block;
}
#header .a{
	display: none;

}

.header{
	padding: 0 4rem;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e7f5ff;

}
.header .logo{
	height: 50px;
}
.navbar-list{
	display: flex;
	gap:2.8rem;
	list-style: none;
}
.navbar-link:link,
.navbar-link:visited{
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	text-decoration: 2rem;
	font-weight: 500;
	color: #212529;
	transition: all 0.3s;

}

/* Home */
#home {
	background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url("mvvm/bannar.jpeg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}

#home h2  {
	color: #fff;
	font-size:2.2rem;
	letter-spacing: 1px;

}
#home p  {
	width: 50%;
	color: #fff;
	font-size:0.9rem; 
	line-height: 25px;
}
 #home .btn{
 	margin-top: 30px;
 }
#home a {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
    border-radius: 5px;
}
#home a.blue {
	color: #fff;
	background: #FDC938;
	transition: 0.3s ease;

}

#home a.blue:hover {
	color: rgb(21, 21, 100);
	background: #fff;
}
/* features*/

#features {
	padding: 5vw 8vw 0 8vw;
	text-align: center;
}
#features .fea-base{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 2rem;
	margin-top: 50px;
}
  #features .fa-solid, .fas {
   font-size: 30px;
}
#features .fea-box{
	background: #ccc;
	text-align: start;
	font-size: 1rem;
	text-align: center;
}
#features ..fea-box i {
	 size: 3rem;
	font-size:20rem;
	color: rgb(44,4,80);
}
#features ..fea-box h3 {
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(46, 46, 59);
	padding: 13px 0 7px 0;
}
#features ..fea-box p{
	font-size: 1rem;
	font-weight: 400;
	color: rgb(70, 70, 87);
	padding: 13px 0 7px 0;
}

/* Course*/

#course {
	padding: 8vw 8vw 0 8vw;
	text-align: center;

}
#course .course-box{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	margin-top: 50px;
}

#course .courses{
	text-align: start;
	background: #F9F9FF;
	height: 100%;
}
#course .courses img{
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;

}

#course .courses .details i{
	color: #FDC938;
	font-size : .9rem;
}

/* experts*/

#experts{
	padding: 8vw 8vw 0 8vw;
	text-align: center;	
}

#experts .expert-box{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
	margin-top: 50px;

}
#experts .expert-box .profile{
	background: #fafaf1;
	padding: 30px 10px;	
}

.pro-links{
	margin-top: 10px;
}

.pro-links i {
	padding: 10px 13px;
	border: 1px solid rgb(21,21,100); 
	cursor: pointer;
	transition: 0.3s ease;
	color: black;

}

.pro-links i:hover{
	background: rgb(21,21,100);
	color: #fff;
	border: 1px solid rgb(21,21,100);
	cursor: pointer;
}

/* registration*/

 #registration{ 

 	padding: 8vw 8vw 4vw 8vw;
 	background-image:linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)), url("mvvm/sign.jpeg");
 	width: 100%;
 	height: 100%;
 	background-size: cover;
 	background-position: center;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;

}
#registration .reminder{
	color: #fff;
}

#registration .reminder h1 {
	color: #fff;
}
#registration .reminder .time{
	display: flex;
	margin-top: 40px;
}
#registration .reminder .time .date{
	text-align: center;
	padding: 13px 33px;
	background: rgba(255, 255, 255, 0.25);
	backdrop-fillter:blue(4px);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border-radius: 5px;
	margin: 0 5px 10px 5px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	font-size: 1.1rem;
	font-weight: 600;

}
#registration .form{
	background: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	box-shadow: 0 8px 32px 0 rgba(31 38 135 0.37);

}
#registration .form input {
	margin: 15px 0;
	padding: 15px 10px;
	border: 1px solid rgba(84, 40, 241);
	outline: none;
}
#registration .form input::placeholder{
	color: #413c3c;
	font-weight: 500;
	font-size: 0.9rem;
}


#registration .form .btn{
	margin-top: 20px;

}

#registration .form a.yellow{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 12px 15px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 5px;
	color: #fff;
	background: #FDC938;
	transition: 0.3s ease;
}
#registration .form a.yellow:hover{
	color: rgb(21, 21, 100);
	background: #fff;
}

/* footer*/

footer{
	padding: 8vw;
	background-color: #101C32;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer .footer-col{
	padding-bottom: 40px;

}
footer h3{
	color: rgb(241, 240, 245);
	font-weight: 600;
	padding-bottom: 20px;
}
footer li {
	list-style: none;
	color: #7b838a;
	padding: 10px 0;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s ease;

}
footer li:hover{
	color: rgb(241, 240, 245);
}
footer p{
	color: #7b838a;
}
footer .subscribe{
	margin-top: 20px;

}
footer input{
	width: 220px;
	padding: 15px 12px;
	background: #334F6C;
	border: none;
	outline: none;
	color: #fff;
}
footer .subscribe a{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 12px 15px;
	background-color: #fff;
	font-weight: 600;

}
footer .subscribe a.yellow{
	color: #fff;
	background: #FDC938;
	transition: 0.3s ease;

}
footer .subscribe a.yellow:hover{
	color: rgb(21, 21, 100);
	background: #fff;

}

footer .copyright{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%
	flex-wrap wrap;
}
footer .copyright p{
	padding: 4vw 10vw 0 0; 
	color: #fff;


}
footer .copyright .pro-links i{
	
	background-color: #5f7185;
	color: #fff;
}


footer .copyright .pro-links i:hover{
	background-color: #FDC938;
	color: #2c2c2c;
}



/*********************************About us section start********************/
/*About-home***/
.heading{
	width: 100%;
	text-align: center;
}
.heading h1 {
	font-size: 30px;
	color: #000;
	position: relative;
}
.container{
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px;
}
.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.about-image{
	flex: 1;
	margin-right: 40px;
	overflow: hidden;
}

.about-image img{
	max-width: 100%;
	height: auto;
	display: block;
	transition: 0.5% ease;

} 
.about-anurag{
	flex:1;
}
.about-anurag h2{
	font-size: 23px;
	margin-bottom: 15px;
	color: #333;
}
.about-anurag p{
	font-size: 18px;
	line-height: 1.5;
	color: #666;
}
.about-anurag .read-more{
	display: inline-block;
	padding: 10px 20px;
	background-color: #4caf50;
	color: #fff;
	font-size: 19px;
	text-decoration: none;
	border-radius: 25px;
	margin-top: 15px;
	transition: 0.3x ease;
}
.about-anurag .read-more:hover{
	background-color: #3e8e41
}


#About-home {
	background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url("mvvm/sign.jpeg");
	background-size: cover;
	width: 100%;
	height: 90vh;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}
#About-home h2 {
	color: #fff;
	font-size: 2.2rem;
	letter-spacing: 1px;

}
#About-home p{
	color: #fff;
}
#about-container{
	display: flex;
	align-items: center;
	padding: 8vw 8vw 5vw 5vw;
}
#about-container .about-img{
	width: 60%;
	padding-right: 60px;
}
#about-container .about-img img {
	width: 100%;
	}
#about-container .about-text{
	width: 40%;
	
}
#about-container .about-text h2{
	color: #293038;
	padding-bottom: 15px;
}
#about-container .about-text p{
	color: #ccc;
	font-weight: 300;
}
#about-container .about-text .about-fe{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 30px;

}
#about-container .about-text .about-fe img{
	width: 50px;
	background-size: cover;
	background-position: center;
	margin-right: 20px;
}
#about-container .about-text .about-fe .fe-text{
	width: 90%;

}
#about-container .about-text .about-fe .fe-text h5{
	font-size: 20px;
	color: #293038;
}
/****************contact us start page***************************/
#contact{
	padding: 4vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
#contact .getin{
	width: 350px;
}
#contact .getin h2{
	color: #2c234d;
	font-size: 30px;
	font-weight: 800;
	line-height: 0.8;
	margin-bottom: 16px;
}
#contact .getin p{
	color: #686875; 
	line-height: 24px;
	margin-bottom: 33px;
	padding-bottom: 25px;
	border-bottom: 1px solid#e5e4ed;
}
#contact .getin h3{
	color: #2c234d;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	margin-bottom: 15px;
}
#contact .getin .getin-details div{
	display: flex;

}
#contact .getin .getin-details div .get{
	font-size: 20px;
	line-height: 22px;
	color: #5838fc;
	margin-right: 20px;
}
#contact .getin .getin-details div p{
	font-size: 14px;
	border-bottom: none;
	line-height: 22px;
	margin-bottom: 15px;

}
#contact .getin .getin-details .pro-links i{
	margin-right: 4px;
}

#contact .form{
	width: 60%;
	background: #d7dad9;
	padding: 40px;
	border-radius: 10px;
	flex-direction: column;
	align-content: flex-start;
}
#contact .form h4{
	font-size: 24px;
	color: #2c234d;
	line-height: 30px;
	margin-bottom: 8px;
}
#contact .form p{
	color: #686875; 
	line-height: 24px;
	padding-bottom: 25px;
}
#contact .form .form-row{
	display: flex;
	justify-content: space-between;
	width: 100%;

}
#contact .form .form-row input{
	width: 33%;
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: #7e7c87;
	outline: none;
	padding: 20px 30px; 
	margin-bottom: 20px;
	flex-direction: column;
	align-content: flex-start;

}	
#contact .form .form-col textarea{
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: #7e7c87;
	outline: none;
	padding: 20px 30px; 
	margin-bottom: 20px;
}
#contact .form button{
	font-size: .9rem;
	padding: 13px 25px;
	background: rgb(21 21 100);
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
}
#map{
	width: 100%;
	height: 70vh;
	margin-bottom: 1vw;
}
#map iframe{
	width: 100%;
	height: 100%;
}




/*media*/

@media (max-width: 48em) {

/***************** only home page risponsivie***************/
.header{
	padding-right: 10rem;
	padding: 0 0rem;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e7f5ff;
	font-size: 12px;
	}

.header .logo {
	padding: 4rem;
	
	width: 40px;
	height: 40px;
}
.navbar-list{
	padding: 0  0 0  0rem;
	display: flex;
	gap:1rem;
	list-style: none;

	
}

#home {
	width: 100%;
	height: 50vh;
	
	padding-top: 0px;
}
#home p {
	width: 90%;
}
#home h2 {
	font-size: 1.2rem;
}
#features .course {
    padding: 8vw 4vw  0  4vw;
    text-align: center;
}
#features {
    padding: 5vw 8vw  0  8vw;
    text-align: center;
}

#registration {
	padding: 6vw 1vw 6vw 4vw;
}
#registration .reminder .time{
	display: flex;
	flex-wrap: wrap; 
	margin-top: 40px;

}
.copyright{
	display: flex;
	margin-right: 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/*about start mediya quary ****************/
.container{
	padding: 0px;
}
.about{
	padding: 20px;
	flex-direction: column;
}
.about-image{
	width: 300px;
	height: 300px;
	margin-right: 0px;
	margin-bottom: 20px;
}
.about-anurag p {
	padding: 0px;
	font-size: 12px;
}

#About-home {
	width: 100%;
	height: 50vh;
	padding-top: 0px;
}
#about-container{
	flex-direction: column;
}
#about-container .about-img{
	width: 100%;
	padding-right: 0px;
}
#about-container .about-text{
	width: 100%;
} 

/************************************contact us page start***************/
#contact{
	padding: 8vw 4vw;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
}
#contact .getin {
	margin-bottom: 30px;
}
#contact .form{
	width: 100%;
	padding: 40px 30px;
}
#contact .form .form-row{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
#contact .form .form-row input{
	width: 100%;
}

/***************************************768**************************/
@media (max-width: 768px) {




.header{
	padding:  0 4rem;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e7f5ff;
	font-size: 12px;
	}

.header .logo {
	padding: 0rem;
	
	width: 40px;
	height: 40px;
}
.navbar-list{

	display: flex;
	gap:1.5rem;
	list-style: none;

	
}

#home {
	width: 100%;
	height: 50vh;
	
	padding-top: 0px;
}
#home p {
	width: 90%;
}
#home h2 {
	font-size: 1.2rem;
}
#features .course {
    padding: 8vw 4vw  0  4vw;
    text-align: center;
}
#features {
    padding: 5vw 8vw  0  8vw;
    text-align: center;
}

#registration {
	padding: 6vw 4vw 6vw 4vw;
}
#registration .reminder .time{
	display: flex;
	flex-wrap: wrap; 
	margin-top: 40px;

}
.copyright{
	display: flex;
	margin-right: 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#About-home {
	width: 100%;
	height: 50vh;
}
#contact{
	padding: 8vw 4vw;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	}

#contact .form .form-row {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
#contact .form .form-row input{
	width: 100%;
}



